<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Aguante</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fulbito.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroServlet</display-name>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>fulbito.servlet.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventoServlet</display-name>
    <servlet-name>EventoServlet</servlet-name>
    <servlet-class>fulbito.servlet.EventoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventoServlet</servlet-name>
    <url-pattern>/EventoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalServlet</display-name>
    <servlet-name>LocalServlet</servlet-name>
    <servlet-class>fulbito.servlet.LocalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalServlet</servlet-name>
    <url-pattern>/LocalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAdicionalServlet</display-name>
    <servlet-name>ServAdicionalServlet</servlet-name>
    <servlet-class>fulbito.servlet.ServAdicionalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAdicionalServlet</servlet-name>
    <url-pattern>/ServAdicionalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroCanchaServlet</display-name>
    <servlet-name>RegistroCanchaServlet</servlet-name>
    <servlet-class>fulbito.servlet.RegistroCanchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroCanchaServlet</servlet-name>
    <url-pattern>/RegistroCanchaServlet</url-pattern>
  </servlet-mapping>
</web-app>